# Object files and Libraries
**/*.a
**/.deps
**/.dirstamp
**/*.ko
**/*.la
**/.libs
**/*.lo
**/*.o
**/*.so
**/*.so.*

# Autotools artifacts
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.cache
config.log
config.status
configure
configure~
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tuna/config.h
tuna/config.h.in
tuna/config.h.in~
tuna/stamp-h1

# Test cases
**/*.log
tests/algo
tests/bonferroni
tests/chunk
tests/stats
test-suite.log
tests/welch
**/*.trs

# Executables
examples/algodive
examples/basic
examples/blockedmm
examples/poc
examples/smallsort

# Study results
result.*.*

# Generated documentation
docs/*

# Artistic Style artifacts
**/*.c.orig
**/*.h.orig
astyle.out
