# Object files and Libraries
**/*.a
**/.deps
**/.dirstamp
**/*.ko
**/*.la
**/.libs
**/*.lo
**/*.o
**/*.so
**/*.so.*

aclocal.m4
autom4te.cache
build-aux
config.cache
config.log
config.status
configure
libtool
m4
Makefile
Makefile.in
tuna/config.h*
tuna/stamp-h1

# Test cases
tests/*.log
tests/stats
tests/kernel
tests/*.trs
test-suite.log

# Executables
examples/basic
examples/poc
