# Object files and Libraries
**/*.a
**/.deps
**/.dirstamp
**/*.ko
**/*.la
**/.libs
**/*.lo
**/*.o
**/*.so
**/*.so.*

aclocal.m4
autom4te.cache
build-aux
config.cache
config.log
config.status
configure
libtool
m4
Makefile
Makefile.in

# Executables
examples/basic
