version: 2.1

jobs:
  build-and-test:
    parameters:
      cc:
        type: string
      cxx:
        type: string
      compiler_packages:
        type: string
    docker:
      - image: cimg/base:2021.04  # Ubuntu-based image similar to bionic
    resource_class: small
    steps:
      - checkout

      - run:
          name: Update package lists
          command: sudo apt-get -qq update

      - run:
          name: Install compiler packages
          command: sudo apt-get install -y << parameters.compiler_packages >>

      - run:
          name: Install dependencies
          command: sudo apt-get install -y autoconf automake libtool doxygen graphviz

      - run:
          name: Bootstrap
          command: ./bootstrap

      - run:
          name: Configure
          command: ./configure CC=<< parameters.cc >> CXX=<< parameters.cxx >>

      - run:
          name: Build
          command: make all

      - run:
          name: Run tests
          command: make check VERBOSE=1

      - run:
          name: Build documentation
          command: make html

workflows:
  version: 2
  build-matrix:
    jobs:
      - build-and-test:
          name: build-gcc
          cc: gcc
          cxx: g++
          compiler_packages: build-essential gcc g++
      - build-and-test:
          name: build-clang
          cc: clang
          cxx: clang++
          compiler_packages: build-essential clang
